name: Lint

on:
  pull_request:
    paths:
      - src/*.rs
      - Cargo.toml
      - jakefile.toml
env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Jake (also sets up Rust)
        uses: AstraBert/setup-jake@v0.1.0

      - name: Install Clippy
        run: rustup component add clippy

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-clippy-${{ hashFiles('**/Cargo.lock') }}

      - name: Run clippy
        run: jake clippy

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Jake (also sets up Rust)
        uses: AstraBert/setup-jake@v0.1.0

      - name: Install Clippy
        run: rustup component add rustfmt

      - name: Check formatting
        run: jake format-check
